@import url('reset.css');
@import url('./component/sr-only.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
/* base */
:root {
  --color-border: #E7E7E7;
  --size-border: 1px;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --border-radius: 7px;
  --color-bg: #EAE8FE;
}
html, body {
  font-family: 'Noto Sans KR', sans-serif;
  background: var(--color-bg);
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  color: #000000;
}

/* module */
/* purchase-screen */
.logo {
  margin: 0 auto;
  width: 386px;
  height: 180px;
  margin-bottom: 67px;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.vending-machine {
  margin: 0 auto;
  width: 748px;
  height: 545px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  gap: 28px 20px;
}

.purchase-screen {
  background: #FFFFFF;
  grid-area: 1 / 1 / 3 / 2;
  padding: 31px 27px 28px;
}

.drinks-list {
  margin-bottom: 20px;
  height: 272px;
}

.drinks {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.drink {
  width: 94px;
  height: 130px;
  border: var(--size-border) solid var(--color-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 11.07px 0 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.drink .drink__img {
  width: 36px;
  height: 65px;
}

.drink .drink__name {
  color: #333333;
  font-size: 9px;
  line-height: 13px;
}

.drink .drink__price {
  background: #6327FE;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 50px;
  padding: 5px 15px;
}

.purchase-screen__changes,
.purchase-screen__deposit-form,
.purchase-screen__purchase {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  height: 33px;
}

.purchase-screen__changes-display,
.purchase-screen__deposit-input,
.candidates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 6px 10px;
  color: #000000;
  font-size: 14px;
  background: var(--color-bg);
  border-radius: var(--border-radius);
}

.purchase-screen__changes-return-btn,
.purchase-screen__deposit-btn,
.purchase-screen__purchase-btn {
  border: var(--size-border) solid var(--color-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  font-size: 13px;
  width: 94px;
  background: #FFFFFF;
}

.purchase-screen__deposit-input {
  background: #FFFFFF;
  font-size: 13px;
  color: #BDBDBD;
  border: var(--size-border) solid var(--color-border);
}

.purchase-screen__purchase {
  height: 106px;
}

.candidates {
  overflow: hidden;
  overflow-y: scroll;
  padding: 12px 6px 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #BDBDBD;
}

.candidates::-webkit-scrollbar {
  width: 12px;
}

.candidates::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  border-top: 9px solid rgba(0, 0, 0, 0);
  border-bottom: 9px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #FFFFFF;
}

.candidate {
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  padding: 8px;
  border: var(--size-border) solid var(--color-border);
  border-radius: var(--border-radius);
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.candidate .candidate__img {
  width: 18px;
  height: 33px;
  margin-right: 10px;
}

.candidate .candidate__name {
  font-size: 9px;
  margin-right: auto;
}

.candidate .candidate__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
}

.purchase-screen__purchase-btn {
  background: #6327FE;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

/* total-amount */
.total-amount {
  background: #FFFFFF;
  grid-area: 1 / 2 / 2 / 3;
  padding: 9px 27px;
}

.total-amount__screen {
  background: var(--color-bg);
  height: 32px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  justify-content: space-between;
}

.total-amount__screen span:last-child {
  font-weight: bold;
}

/* acquisition-list */
.acquisition-list {
  background: #FFFFFF;
  grid-area: 2 / 2 / 3 / 3;
  padding: 25px 27px 26px;
  text-align: center;
}

.acquisition-list h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}

.candidates--long {
  width: 306px;
  height: 375px;
  margin-bottom: 11px;
}

.acquisition-list__total-amount {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

/* mobile */
@media screen and (max-width: 754px) {
  html {
    background: #FFFFFF;
  }
  body {
    margin: 0 auto;
    background: #FFFFFF;
    width: 360px;
  }

  .logo {
    width: 166px;
    height: 71.12px;
    margin-bottom: 18px;
  }

  .vending-machine {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px 0px;
  }
  
  .purchase-screen {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 9px;
  }

  .purchase-screen__changes-return-btn {
    padding: 0;
  }

  .total-amount {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .acquisition-list {
    padding-top: 41px;
  }
}

/* state */